$item-count: 6;
$item-size: 40px;
$item-color: white;
$item-transition: 0.5s;
$items-distance: 10px;

@mixin absolute-center {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

.item {
  @include absolute-center;
  @include size($item-size);
  display: block;
  opacity: 0;
  transition: $item-transition;

  .link {
    display: block;
    width: inherit;
    height: inherit;
    line-height: $item-size*1.1;
    color: rgba($item-color, 0.7);
    background: rgba(white, 0.2);
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-size: $item-size/2;
    pointer-events: none;

    svg {
      transition: 0.2s;
    }

    &:hover {
      box-shadow: 0 0 0 $item-size/40 rgba(white, 0.3);
      color: $item-color;
      background: rgba(white, 0.3);

      svg {
        transform: scale(1.25);
      }
    }
  }

  @for $i from 0 through $item-count - 1 {
    &:nth-child(#{$i + 1}) a {
      transform: rotate(-360deg / $item-count * $i);
    }
  }

  &--active {
    opacity: 1;

    .link {
      pointer-events: auto;
    }

    @for $i from 0 through $item-count - 1 {
      &:nth-child(#{$i + 1}) {
        transform: rotate(360deg / $item-count * $i)
          translateX(-$item-size - $items-distance);
      }
    }
  }
}
