$toggler-size: 27px;
$toggler-color: white;
$toggler-transition: transform 0.5s, top 0.5s;

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin absolute-center {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

@mixin line {
  @include size($toggler-size, $toggler-size/8);
  display: block;
  z-index: 1;
  border-radius: $toggler-size/16;
  background: rgba($toggler-color, 0.7);
  transition: $toggler-transition;
}

.menu {
  position: fixed;
  right: 10%;
  bottom: 100px;

  @media screen and (max-width: 798px) {
    right: 80px;
  }

  .menu-toggler {
    opacity: 0;
    cursor: pointer;

    &:checked {
      & + label {
        color: #fff;
        opacity: 1;
      }
    }

    & + label {
      color: $toggler-color;
      opacity: 0.7;
      z-index: 1;
      position: absolute;
      display: block;
      margin: auto;
      top: -10px;
      font-size: 35px;
      transition: transform 0.2s;
    }

    &:hover + label {
      color: $toggler-color;
      opacity: 1;
      transform: scale(1.1);
    }
  }
}