.collapse {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-width: 600px;
  max-width: 900px;
  width: calc(100% - 100px);
  height: 300px;
  margin: 60px auto 0;

  @media screen and (max-width: 798px) {
    flex-direction: column;
    min-width: auto;
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 20px auto 0;
  }
}