@keyframes flickering {
  // to allow see proper name globally
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  // to allow see proper name globally
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.moving-cursor:after {
  margin-left: 3px;
  content: '_' !important;
  animation: flickering 0.9s infinite !important;
  position: absolute;
}

.fadeIn {
  animation: fadeIn 2s 0.7s forwards;
}
