
@keyframes :global(flickering) { // to allow see proper name globally
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:global {
  .moving-cursor:after {
    margin-left: 3px;
    content: "_";
    animation: flickering 0.9s infinite;
  }
}