$optionDefaultColours: #ed5565, #fc6e51, #ffce54, #2ecc71, #5d9cec, #ac92ec;

.card {
  position: relative;
  overflow: hidden;
  min-width: 60px;
  min-height: 60px;
  background: var(--optionBackground, var(--defaultBackground, #e6e9ed));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: rgba(black, 1) 0 20px 45px 0;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  margin: 30px 20px;

  @media screen and (max-width: 798px) {
    margin: 15px;
  }

  @for $i from 1 through length($optionDefaultColours) {
    &:nth-child(#{$i}) {
      --defaultBackground: #{var(
          --optionColour,
          nth($optionDefaultColours, $i)
        )};
    }
  }

  &.active {
    flex-grow: 10000;
    transform: scale(1);
    max-width: 600px;
    margin: 0px;
    cursor: auto;
    box-shadow: rgba(white, 0.2) 0 0 20px 3px, rgba(white, 0.6) 0 0 0 1px,
      inset 0 120px 190px -120px #000, inset 0 120px 190px -100px #000;

    @media screen and (max-width: 798px) {
      max-height: 400px;
      min-height: 120px;
    }

    .label {
      top: 20px;
      left: 20px;
      .info > div {
        left: 0px;
        opacity: 1;
      }
    }
  }
  &:not(.active) {
    flex-grow: 1;

    .label {
      top: 10px;
      left: 10px;
      .info > div {
        left: 20px;
        opacity: 0;
      }
    }

    .button {
      display: none;
    }
  }
  .label {
    display: flex;
    position: absolute;
    right: 0px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);

    .icon {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      min-width: 40px;
      max-width: 40px;
      height: 40px;
      border-radius: 100%;
      background-color: white;
      color: var(--defaultBackground);
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 10px;
      color: white;
      white-space: pre;

      > div {
        position: relative;

        transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95),
          opacity 0.5s ease-out;
      }

      .main {
        font-weight: bold;
        font-size: 1.2rem;
      }

      .sub {
        transition-delay: 0.1s;
      }

      .link {
        transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95),
          opacity 0.5s ease-out;
        transition-delay: 0.2s;
      }
    }
  }
}