.link {
  margin: 5px 0;
  padding: 5px 0;
  border: none;
  border-bottom: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  background: none;
  color: #fff;
  display: inline-block;
  font-weight: 300;
  font-size: 17px;
  text-decoration: none;

  &--router {
    margin: 0 10px;
  }

  &:after {
    position: absolute;
    transition: 0.3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 2px;
    background: #f7f7f7;
    right: 0;
    left: auto;
  }

  &:hover {
    cursor: pointer;
    &:after {
      width: 100%;
      left: 0;
    }
  }
}
